body {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  /* background-color: rgb(165, 0, 0); */
}


#banner {
  background-size: contain; 
  background-repeat: no-repeat; 
  min-height: 148px; 
  max-height: 267px;
}

/* .impressao {
  display: none;
} */

.form {
  border-radius: 8px;
  /* border: 1px solid #000; */
  margin: 24px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  max-width: 500px;
}

.form button:hover {
  background-color: transparent;
  color: #000;
}

.form button::before {
  font-family: fontAwesome;
  content: "";
} 

.form button::after {
  font-family: fontAwesome;
  content: "\f1c1";
} 

.form button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#recibo:hover {
  background-color: transparent;
  color: #000;
}

#recibo::before {
  font-family: fontAwesome;
  content: "";
} 

#recibo::after {
  font-family: fontAwesome;
  content: "\f15c";
} 

#recibo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(0, 103, 69);
  border-color: rgb(0, 103, 69);
}

.form a {
  width: 100%;
}

.form .pdf {
  background-color: #811012;
  border-color: #811012;
}


@media print {
  .impressao {
    display: block;
  }
  .form {
    display: none;
  }
}